<%= form_for(@corsairs) do |f| %>
 <ul>
 <% @corsairs.errors.full_messages.each do |error| %>
   <li><%= error %></li>
 <% end %>
 </ul>
 <p>
   <%= f.label :Nom %><br />
   <%= f.text_field :first_name, class: 'form-control' %>
 </p>
 <p>
   <%= f.label :Age %><br />
   <%= f.text_area :age, class: 'form-control' %>
 </p>

 <p><label>Pseudo Slack</label>
 <%= f.text_field :slack_handle, class: 'form-control' %></p>
 <p><label>Pseudo Github</label>
 <%= f.text_field :github_handle, class: 'form-control' %></p>

 <button type="submit" class="btn btn-primary">Valider le corsaire</button>
<% end %>
